<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet_Books</display-name>
    <servlet-name>servlet_Books</servlet-name>
    <servlet-class>servlets.servlet_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_Books</servlet-name>
    <url-pattern>/servlet_Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_Cart</display-name>
    <servlet-name>servlet_Cart</servlet-name>
    <servlet-class>servlets.servlet_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_Cart</servlet-name>
    <url-pattern>/servlet_Cart</url-pattern>
  </servlet-mapping>
</web-app>